body{
    background-color: bisque;
    display: flexbox;
    position: relative;
    min-width: 100vh;
    padding-bottom: 5%;
}
.menu{
    margin-left: 0% 
}
.barranav{
    font-size: 150%;
    color: rgb(114, 11, 0);
    align-items: center;
    margin-right: 5%;

}
a{
    text-decoration: none;
    color: black;
}
.barranav:hover{
    text-decoration: underline;
    color:  rgb(170, 67, 55);
}
h1{
    margin: 16%;
    font-size: 500%;
    margin-left: 4%;
    color: teal;
}
footer {
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pie{
    display: flex;
    color: rgb(225, 89, 74);
    font-size: 160%;
    flex-direction: row-reverse;
    margin-right: 3%;
}
.nombres{
    margin-right: 2%;
}
button{
    font-weight: 550;
    border: 1px solid sienna;
    text-transform:lowercase;
    background-color: rgb(232, 146, 107);
    border-color: rgb(232, 146, 107);
    transition: all .3s ease-in-out;
    padding: 1em;
    border-radius: 1em;
    line-height: 0em;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
    font-size: 100%;
}
.boton{
    margin-left: 1%;
}
li{
    font-size: 125%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0.30em;
    margin-left: 1%;
}
.mostrar_por_categoria{
    margin-top: 2%;
    list-style: none;
    border: solid rgb(82, 50, 35);    
}
label{
    font-size: 125%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
select{
    border: none;
    margin: 1%;
    padding: 0.40em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgb(232, 146, 107);
}
p{
    font-size: 125%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}
input{
    padding: 8px 8px 8px 4px;
    width: 200px;
    border: none;
    background-color: rgb(240, 186, 131);
    box-shadow: none;
    outline:none;
    margin-top: 1%;
}
input:hover{
    box-shadow: 0 0 0 0.20em rgb(70, 239, 222);
}
.error{
    border: solid red;
    color: black;
    background-color: rgb(253, 68, 68);
    text-align: center;
    margin: 0%;
    padding: 10%;
    margin-top: 1%;
}
.usuario_invalido{
    color: black;
    background-color: rgb(253, 68, 68);
    text-align: center;
    font-size: 200%;
}
.mensaje_suces{
    color: black;
    background-color: rgb(31, 246, 142);
    text-align: center;
    font-size: 200%;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.formulario input{
    width: 50%;
    text-align: center;
}
.formulario select{
    width: 50%;
    text-align: center;
}
button .boton_formulario{
   margin-left: 100%;
}
textarea{
    padding: 8px 8px 8px 4px;
    width: 50%;
    border: none;
    background-color: rgb(240, 186, 131);
    box-shadow: none;
    outline:none;
    margin-top: 1%;
}
.homepage a img{
    width: 70%;
    margin-left: 2%;
    margin-left: 2%;
}
.un_elemento{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
    border: solid rgb(82, 50, 35);
}
.un_elemento ul li{
    text-align: center;
    list-style: none;
}
.acomodar_btn{
    display: flex;
    flex-direction: column;
}
.boton_volver{
    margin-left: 45%;
}
.boton_volver_cat{
    margin-left: 48%;
}
.categorias{
    display: flex;
    flex-direction:column;
}
.btn_categoria{
    display: block;
}

.homepage h1{
    margin: 0%;    
    margin-top: 3%;
    margin-left: 2%;
}
.homepage{
    display: flex;
    flex-direction: column;
}
.homepage h3{
    font-size: 150%;
    margin-top: 8%;
    margin-left: 2%;
    color: teal;    
}
.homepage_img{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.homepage h3 .acomodar_titulo{
    font-size: 150%;
    margin: 0%;
    margin-top: 18%;
    color: teal; 
}
img{
    width: 30%;
    margin-left: 35%;
}

